{
    "extends": [
        "react-app",
        "prettier"
    ],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": ["error"],
        "semi": ["error", "always"],
        "comma-dangle": ["error", "always-multiline"]
    }
}